[Unit]
Description=Dropbear SSH server
DefaultDependencies=no
Requires=local-fs.target cryptsetup-pre.target
After=local-fs.target cryptsetup-pre.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/dropbear-start
RemainAfterExit=yes
