[Unit]
Description=Dropbear SSH server daemon
DefaultDependencies=no
Before=cryptsetup.target

[Install]
WantedBy=sysinit.target

[Service]
ExecStart=/usr/bin/dropbear-ssh
Restart=on-failure
RestartSec=60s
