[Unit]
Description=Prepare Dropbear keys from /boot
DefaultDependencies=no
Before=dropbear-ssh.service
Requires=dev-disk-by\x2dlabel-boot.device
After=dev-disk-by\x2dlabel-boot.device

[Install]
WantedBy=dropbear-ssh.service
WantedBy=initrd.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/dropbear-prepare-keys
RemainAfterExit=yes
