[Unit]
Description=Prepare Dropbear keys from /boot-storage
DefaultDependencies=no
Before=dropbear-ssh.service dev-disk-by\x2dlabel-root.device
Requires=dev-disk-by\x2dlabel-boot\x2dstorage.device
After=dev-disk-by\x2dlabel-boot\x2dstorage.device

[Install]
WantedBy=dropbear-ssh.service
WantedBy=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/bin/dropbear-prepare-keys
RemainAfterExit=yes
