[Unit]
Description=Prepare Dropbear keys from /boot
DefaultDependencies=no
Before=dropbear-ssh.service
Requires=local-fs.target cryptsetup.target
After=local-fs.target cryptsetup.target

[Install]
WantedBy=dropbear-ssh.service

[Service]
Type=oneshot
ExecStart=/bin/sbin/prepare-dropbear-keys.sh
RemainAfterExit=yes
